* {
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

nav {
	background-color: #1d1d1d;
	padding: 35px;
}

nav li {
	list-style: none;
	float: left;
	margin-left: 2.5em;
	color: #e3e3e3;
}

nav input[type='search'] {
	margin-right: 15px;
	width: 85%;
}

img {
	max-width: 100%;
}

.fRight {
	float: right;
}

.authorItem {
	font-size: 1.3em;
	transition: all .4s ease;
}

.authorItem:hover {
	color: white;
}

.imgBorder {
    border-width:5px;  
    border-style:double;
    color: #3d3d3d;
}

.profilePic {
	border-radius: 50%;
	border: 2px solid #e8217f;
	width: 15%;
	display: inline-block;
}

.front-back-bar {
    width: 75%;
    display: inline-block;
    color: white;
    margin-left: 115px;
}

.front-bar {
    width: 70%;
    background-color: #e8217f;
    float: left;
    height: 25px;
    text-align: center;
}

.back-bar {
    width: 30%;
    background-color: #3d3d3d;
    float: right;
    height: 25px;
    text-align: center;
}

.front-chart{
    padding: 15px;
    background-color: #d1d1d1;
    width: 50%;
    height: 325px;
    float: left;
}

.back-chart{
    padding: 15px;
    background-color: #424242;
    width: 50%;
    height: 325px;
    float: right;
}


.inner-bar {
    background-color: #e8217f;
    width: 20%;
    height: 32px;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
}


a:selected{
	color: red;
}

a:visited{
	color: white;
}



@import url('https://fonts.googleapis.com/css?family=Lato');

