* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: 'Lato', sans-serif;
    color: #79808a;
    font-size: 17px;
}

blockquote {
    background-color: #e4e7eb;
    color: #545454;
    padding: 25px;
    font-family: 'Lora', serif;
    font-size: 29px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 1.2px;
}

div.skills-title h1 {
    position: relative;
    margin: 1.2rem 0;
    color: #ed68b1;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
}

#projects {
    margin-bottom: 8%;
}

div.skills-title h1:after {
    content: attr(data-letter);
    position: absolute;
    top: -3.6rem;
    right: 0;
    color: #e4e7eb;
    font-size: 10rem;
    font-weight: 900;
    z-index: -1;
}

.chapterHeaderIndent {
    margin-bottom: 13%;
}

.curly-quotes:before, .curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 66px;
  color: #f6fbfc;
}

.curly-quotes:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -8px;
}

.curly-quotes:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}

.quote-attribution {
    color: #008db1;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 600;
}

nav {
	background-color: #1d1d1d;
	/*padding: 35px;*/
    padding: 8px;
    height: 85px;
    border-bottom: 5px solid #e8217f;
}

nav ul.top-list {
    margin-left: 25px;
} 

nav ul.top-list li {
	list-style: none;
	float: left;
    margin-left: 1.2em;
	color: #e3e3e3;
}

ul {
    padding: 0;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
}

nav input[type='search'] {
	margin-right: 15px;
}

.sliderMenu {
    display: none;
}

.searchInput {
    float: right;
    color: white;
    display: inline-block;
    padding-bottom: 18px;
}

img {
	max-width: 100%;
}

.authorItem {
	font-size: 1.1em;
	transition: all .3s ease;
    margin-left: -15px;
}

.authorItem:hover {
	color: white;
}

.imgBorder {
    border-width:5px;  
    border-style:double;
    color: #3d3d3d;
}

.profilePic {
	border-radius: 50%;
	border: 2px solid #e8217f;
	width: 150px;
    height: 150px;
	display: inline-block;
}

/*a:selected{
	color: red;
}*/

body {
    animation: fadeIn 650ms ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

a {
   transition: all .25s ease;
   color: white;
}

a:visited{
	color: white;
}

a:hover {
    color: #e8217f;
}

nav ul li.bubbleItem {
    padding: 3px;
}

nav ul li.bubbleItem {
    transition: margin-top .25s ease;
}

nav ul li.bubbleItem:hover {
    margin-top: -5px;
    color: #e8217f;
    border-bottom: 3px solid #e8217f;
}

nav ul li.bubbleItem a {
    padding: 4px;
}


/*Styles the skills graph on site*/

.graph-container {
    width: 100%;
}

/*first graph - front end*/
/*makes 2nd graph have purple bars*/
.graph-container > .chart:nth-child(2) .bar {
    background-color: #8555cf;
}

.graph-container > .chart:nth-child(2) {
    margin-bottom: 105px;
}

/*targeting individual bars*/
.graph-container > .chart:nth-child(1) .subject li:nth-child(1) .bar {
    height: 227px;
}

.graph-container > .chart:nth-child(1) .subject li:nth-child(2) .bar {
    height: 227px;
}

.graph-container > .chart:nth-child(1) .subject li:last-child .bar {
    height: 152px;
}

/*second graph - back end*/
/*targeting individual bars*/
.graph-container > .chart:nth-child(2) .subject li:nth-child(1) .bar {
    height: 152px;
}

.graph-container > .chart:nth-child(2) .subject li:nth-child(2) .bar {
    height: 152px;
}


.chart {
    height: 310px;
    background-color: #333333;
    border: 2px solid grey;
    margin: 0 auto;
    width: 35%;
    opacity: .9;
    float: left;
    margin-left: 12%;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

.chart ul li {
    list-style: none;
}

.subject {
    bottom: 25px;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    color: #333333;
    font-size: 1.05em;
    font-family: 'Lato', sans-serif;
    bottom: -5px;
/*
    display: inline-block;*/
    /*old code*/
}

.rating {
    color: #333333;
    font-size: 1.05em;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.subject li {
    display: flex;
    justify-content: center;
    width: 25%;
}

.rating {
    width: 125%;
}

.rating li {        
    height: 62px;
    border-bottom: 1px solid grey;
    margin-bottom: 13px;
    max-width: 95%;
}

.rating li:last-child {
    border-bottom: none;
}

.rating {
    right: 135px;
}

.percent-breakdown span {
    padding: 8px;
    color: white;
    font-weight: 200;
    margin-bottom: 15px;
    display: block;
}

.percent-breakdown span.pink{
    background-color: #eb1584;
    width: 70%;
    float: left;
    border-radius: 5px 0 0 5px;
}

.percent-breakdown span.purple{
    background-color: #9166d4;
    width: 30%;
    float: left;
    border-radius: 0 5px 5px 0;
}

.bar {
    background-color: #eb1584;
    width: 10%;
    height: 78px;
    bottom: 42px;
    position: absolute;
    cursor: pointer;
}

.bar:hover{
    background-color: #fe4ca8;
}

.bar:hover:after{
    content: attr(data-protip);
    background-color: #131313;
    color: white;
    display: block;
    position: relative;
    width: 115px;
    padding: 5px;
    z-index: 10;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    margin-left: -32px;
    animation: levitate 500ms ease 1;
    animation-fill-mode: forwards;
}

@keyframes levitate {
    0%{
        margin-top: 0px;
       
    }
    100%{
        margin-top: -35px;
    }
}

.bar:hover:before{
    background-color: red;
    padding: 5px;
    position: relative;
    width: 15px;
}

.graph-container > .chart:nth-child(2) .subject li div.bar:hover {
    background-color: #a174e7;
}

@media only screen and (max-width : 1024px){
    /*standard break point*/
}

@media only screen and (max-width : 1125px){
    .subject span {
        transform: rotate(90deg);
        position: relative;
        top: 25px;
    }

    .chart {
        float: none;
        width: 50%;
        margin: 0 auto;
        margin-top: 15%;
    }

    .graph-container > .chart:nth-child(1) {
        margin-top: 2%;
    }

    .rating li {
        max-width: 100%;
    }

}

@media only screen and (max-width : 650px){
    .chart {
        margin-top: 35%;
    }

    .rating {
        width: 145%;
    }
}

@media only screen and (max-width : 360px){
    .rating {
        width: 185%;
    }
}


/**For Projects Section**/

.projectContainer {
    width: 100%;
    user-select: none;
    margin-top: 5%;
}

#previewProjectContainer {
    height: 532px;
    position: relative;
    margin-top: -155px;
}

.projectContainer {
    height: 540px;
    display: inline-block;
}

.projectContainer label {
    display: block;
    width: 30%;
}

.projectContainer section {
    border: 1px solid #c1c1c1;
    width: 65%;
    float: right;
    height: 410px;
    display: block;
    position: relative;
    bottom: 425px;
    right: 15px;
}

.projectContainer label {
    list-style: none;
    padding: 25px;
    border: 1px #c1c1c1 solid;
    margin-bottom: 15px;
    border-radius: 3px;
    cursor: pointer;
    color: #878787;
}

.slider-marker {
    margin: 0 auto;
    margin-top: 12px;
    width: 33%;
    text-align: center;
}

.slider-marker span {
    padding: 15px;
    background-color: #f3e9ee;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #cfcfcf;
}

.slider-marker span.activeSpan {
    background-color: #ed298f;
    box-shadow: inset 7px 10px 43px -6px rgba(26,26,26,0.4);
    border: 2px outset #cfcfcf;
    animation: fadeInBounce 395ms ease-out 1;
}

input[type='radio']:checked + label{
    border-left: 5px solid #ed2d91;
    color: #444344;
    background-color: #f6f6f6;
    color: #ed2d91;
}

input[type='radio']{
    display: none;
}

#previewProjectContainer > div {
    display: none;
}

#project1:checked ~ section > #previewProject1,
#project2:checked ~ section > #previewProject2,
#project3:checked ~ section > #previewProject3,
#project4:checked ~ section > #previewProject4,
#project5:checked ~ section > #previewProject5 {
    display: block;
}

.descriptionParagraph {
    margin-left: 25px;
}

.carousel {
    width: 95%;
    margin: 0 auto;
    text-align:center;
}

.carousel-image {
    height: 416px;
    width: 395px;
    margin-top: 15px;
}

img.shrink {
    width: 308px;
    height: 431px;
}

img.shrink2 {
    height: 380px;
    width: 624px;
    margin-top: 15px;
}

img.shrink3 {
    height: 420px;
    width: 652px;
    margin-top: 15px;
}

.carousel > div {
    display: none;
}

div.carousel-active {
    display: block;
}

@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    92% {
        opacity: 100;
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}   


@media only screen and (max-width : 980px){

    p {
        font-size: 1.15rem;
    }

    #previewProjectContainer {
        position: static;
        margin-top: 15px;
    }

    .projectContainer label {
        display: block;
        width: 54%;
    }

    .projectContainer section {
        float: none;
        position: static;
        width: 80%;
        margin: 0 auto;
    }

    .projectContainer label {
        padding: 6px;
        margin: 0 auto;
        margin-bottom: 4px;
    }
}  /*end media query*/




.fa-arrow-left {
    font-size: 32px;
    color: #ed298f;
    position: relative;
    float: left;
    cursor: pointer;
}

.fa-arrow-right {
    font-size: 32px;
    color: #ed298f;
    position: relative;
    float: right;
    cursor: pointer;
}

.contact-form {
    clear: both;
    display: block;
}

 .carouselLabel {
    font-size: 18px;
    font-weight: 300;
    color: #e8217f;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/*Burger menu*/


.burger-menu {
    display: none;
    width: 45px; 
    cursor: pointer;
    animation: fadeIn 650ms ease-in;
    margin-top: 15px;
    margin-left: 15px;
}

.burger-menu > div {
    padding: 2px;
    margin-bottom: 8px;
    background-color: #e8217f;
    transition: all 0.5s cubic-bezier(.41,0,.19,1);
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    animation: motionBlur .21s ease 1;
    animation-fill-mode: forwards;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    animation: motionBlur .21s ease 1;
    animation-fill-mode: forwards;
}

.change .bar2 {
    opacity: 0;
    filter: blur(4px);
}

@keyframes motionBlur {
    0% {

    }

    5% {
        filter: blur(1.5px);
    }

    80% {
        filter: blur(1.5px);
    }

    100% {
        filter: blur(0px);
    }
}

@media only screen and (max-width: 760px){
    nav ul.top-list  {
        display: none;
    }

    .sliderMenu {
        display: block;
        background-color: #e0e0e0;
        padding: 5px;
        width: 360px;
        height: 312px;
        position: relative;
        top: -59px;
        left: -10px;
        z-index: 0;
        transform: translateX(-105%);
        transition: all 0.5s cubic-bezier(.41,0,.19,1);
        box-shadow: 3px 9px 37px -1px rgba(64,64,64,0.12);
    }

    .expandSlider {
        transform: translateX(.5%);
        animation: motionBlur .25s ease 1;
    }

    .sliderMenu ul {
        margin-top: 75px;
        margin-left: 18px;
    }

    .sliderMenu ul li {
        display: block;
        margin-bottom: 15px;
    }

    .burger-menu {
        display: block;
        z-index: 100;
        position: relative;
    }

}

@media only screen and (max-width: 700px){
    .slider-marker {
        width: 100%;
    }

    .fa-arrow-right {
        left: -22px;
    }

    .fa-arrow-left {
        right: -22px;
    }
}

    /*Form Styling*/

textarea {
    width: 65%;
    display: block;
    margin: 0 auto;
    height: 200px;
}

textarea {
    font-family: 'Lato', sans-serif;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 100;
}

input,
textarea,
select {
    outline: 0;
}

textarea {
    border: 2px solid rgba(192,192,192, .5);
    transition: all .75s ease;
}

textarea:focus {
    border: 2px solid rgba(232, 33, 127, 1);
}

textarea::placeholder {
    opacity: .75;
    transition: all .5s ease;
}

textarea:focus::placeholder {
    color: #e8217f;
    opacity: 1;
}

form {
    padding: 12px;
}

form > label {
    display: block;
}

form input {
    width: 50%;
    padding-bottom: 2px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-radius: 0;
    outline: 0;
    color: rgba(0,0,0,.87);
    -webkit-appearance: none;
}


label.formLabel {
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: #e8217f;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact-divider {
    border: 1px solid #e4e7eb;
    width: 65%;
    margin-bottom: 5%;
}

/*form label*/

.labelParentContainer {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 6%;
  margin-left: 22%;
}

.labelParentContainer div {
  margin-top: 10%;
  float: left;
  width: 50%;
  margin: 0 auto;
}

.labelParentContainer div {
  position: relative;
}

.labelParentContainer div > label {
  position: absolute;
  top: -1px;
}

form input {
    padding-bottom: 2px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    outline: 0;
    color: rgba(0,0,0,.87);
    -webkit-appearance: none;
    transition: all .65s ease;
}

label {
  transition: all .45s ease;
  display: block;
  color: #e4e7eb;
  font-weight: 300;
  opacity: .85;
  font-size: 18px;
}

input:focus {
  border-bottom: 2px solid rgba(232, 33, 127, .95);
}

input:focus + label {
  transform: translateY(-31px);
  color: #e8217f;
  opacity: 1;
  font-size: 1.3em;
  animation: motionBlur .15s ease 1;
}

input:valid + label{
  transform: translateY(-31px);
}

/** end form label **/



/** images **/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    color: red;
    top: 81%;
    left: 4%;
}


img {
    display: block;
    margin: 0 auto;
}

.ralewayHeader {
    color: #008db1;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 600;
}

.imageContainer {
    width: 45%;
    margin: 0 auto;
}

.imageContainer div {
    width: 48%;
    float: left;
    margin-left: 2%;
}

@media only screen and (max-width : 1600px){
    .imageContainer {
        width: 65%;
        margin: 0 auto;
    }
}

@media only screen and (max-width : 1300px){
    .imageContainer {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width : 900px){
    .imageContainer {
        width: 95%;
        margin: 0 auto;
    }
}

/* images */
