* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	background-color: #212121;
}

#main {
	width: 85%;
	margin: 0 auto;
}

#shopping-items {
	margin-top: 20px;
}

.item {
	background-color: white;
	width: 23%;
	float: left;
	margin-left: 10px;
	height: 20%;
	padding: 10px;
}

h3 {
	color: #eb6b6f;
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

.pink-bar {
	background-color: #fadee2;
	padding: 10px;
}

.addbutton, .subtractbutton {
	border-style: none;
	background-color: #ff4a52;
	color: white;
	padding: 5px 10px;
	font-size: 1.5em;
}

.addbutton {
	float: left;
}

.subtractbutton {
	float: right;
}

#bottom-buttons {
	font-size: 1.5em;
	text-align: center;
}

.total-display {
	border-style: none;
	font-family: 'Roboto', sans-serif; 
	text-align: center;
	margin-top: 5px;
	background-color: #fadee2;
	font-size: 1.5em;
	width: 50%;
	padding-left: 25px;
}

#my-cart {
	width: 30%;
	float: right;
	margin-bottom: 8px;
	margin-right: 35px;
}

.white-border {
	border: 2px solid white;
	padding: 5px;
	font-family: 'Lato', sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: .82em;
	background-color: #212121;
}

.promo {
	max-width: 100%;
}

.orange {
	color: #f95253;
}


/*///////////////////////////////////
////=Clear Fix
////////////////////////////////////*/

.clear {
  clear: both;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*font-family: 'Roboto', sans-serif;*/

#red {
	background-color: red;
	height: 10%;
	width: 10%;
}

button {
	margin-top: 15px;
}

#keep-shopping:hover {
	color: orange;
	transition: .2s color ease-in;;
}

#keep-shopping:active {
	color: #ff4a52;
	transition: .2s color ease-in;;
}