	@import url('https://fonts.googleapis.com/css?family=Orbitron');

	@font-face {
  	font-family: 'Doom', serif;
  	src: url('AmazDooMLeft.ttf'); 
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	* {
		box-sizing: border-box;
	}


	img {
		display: block;
		max-width: 100%;
	}

	body {
		user-select: none;
		overflow: hidden;
	}

	html {
		background-color: #2a2a2a;
		font-family: 'Orbitron', sans-serif;
		font-size: 1.2em;
	}

	h2 {
		margin-top: 0;
	}

	.helperBar {
		background-color: #413f3f;
		height: 50px;
		box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.16);
	}

	.puzzleCanvas {
		width: 868px;
		height: 579px;
		position: absolute;
		margin: 0 auto;
	}

	.puzzleSolved, .puzzleUnsolved, .puzzlePiece {
		box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.16);
	}

	.puzzleSolved, .puzzleUnsolved {
		z-index: 0;
	}

	.puzzleUnsolved {
		animation: fadeIn 1s ease;
	}

	.fade {
		animation: fadeIn 1s ease;
	}

	.mainContainer {
		width: 860px;
		margin: 0 auto;
		margin-top: 12px;
		height: 579px;
	}	

	.startPuzzle, .hint {
		display: block;
		width: 250px;
		margin: 0 auto;
		margin-top: 5px;
		text-transform: uppercase;
		animation: fadeIn 2s ease;
	}

	.startPuzzle {
		position: relative;
		z-index: 50;
		bottom: 333px;
	}

	.hint, .reset {
		width: 105px;
    	height: 50px;
		line-height: 2px;
		float: left;
		margin-top: 0;
	}

	.reset {
		float: right;
	}

	.difficultyContainer > button {
		display: block;
		width: 55%;
		margin: 0 auto;
		margin-bottom: 27px;
	}

	.difficultyContainer {
		position: relative;
		width: 425px;
		bottom: 75%;
		margin: 0 auto;
		z-index: 500;
		position: relative;
	}

	button {
		cursor: pointer;
		font-family: 'Orbitron', sans-serif;
		font-size: .89em;
		transition: all .2s ease;
		border: 2px solid white;
		opacity: .85;
		padding: 21px;
	}

	button:hover {
		opacity: 1;
		background-color: #ec1d88;
	}

	button:focus {
		outline:0;
	}

	h2 {
		color: white;
		text-align: center;
	}

	.hidden {
		display: none;
	}

	.shadowed {
    	filter: drop-shadow(12px 14px 2px rgba(0,0,0,0.5));
    	position: absolute;
    	z-index: 2;
	}

	.noShadow {
		filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
	}

	.appearOnTop {
		z-index: 10;
	}

	/*///////////////////new rules//////////////////*/

	.match {
		background-color: grey;
		width: 110px;
		height: 95px;
		margin-left: 50px;
	}

	.highZindexValue {
		z-index: 99;
	}

	.lowZindexValue {
		z-index: 1;
		border: 2px solid green;
	}

	.babyContainer {
		width: 868px;
		height: 245px;
	}

	.parentProgress {
		width: 400px;
		height: 20px;
		background-color: #1d191a;
		position: relative;
		margin: 0 auto;
		top: 8px;
	}

	.progress {
		width: 100%;
		height: 20px;
		background-color: #e92682;
		transition: all 2s ease;
		border-bottom: 3px solid #b7256d;
	}

	.time {
		position: relative;
		width: 100px;
		margin: 0 auto;
		top: 8px;
	}

	.modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0e0d0e;
		opacity: .5;
		z-index: 999;
		color: white;
		font-size: 3.5em;
		animation: fadeIn 1s ease;
		animation-fill-mode: forwards;
	}

	.modal p {
		text-align: center;
		margin-top: 15%;
		font-size: 1.3em;
		animation: neon1 1.5s ease-in-out infinite alternate;
	}

	.retry {
		display: block;
		margin: 0 auto;
		text-transform: uppercase;
	}

	body {
		user-select: none;
	}

	 /* ----------------------------------------------
 * Generated by Animista on 2017-10-31 16:38:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}@keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}

@keyframes neon1 {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ef1586, 0 0 75px #ef1586, 0 0 150px #ef1586;
	}

	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ef1586, 0 0 32px #ef1586, 0 0 75px #ef1586;
	}
}
